<div class="text-center">
  <h1>Welcome to Mario Food Products</h1>

  <%= link_to "See Products", products_path, class:"btn btn-success" %>

    <div>
      <img src="https://www.heart.org/-/media/aha/h4gm/article-images/fruit-and-vegetables.jpg?la=en&hash=65387BD7AEEF9C37F30838E6A897796400EE80F4">
    </div>
</div>