<div class="text-center">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Welcome to Mario Food Products</h2>
      <p class="lead">The longest-operating vegetables retailer in the US.</p>
    </div>
  </div>

  <div>
    <%= link_to "See Products", products_path, class:"btn btn-success" %>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="most-recent">
        <h3>Most recent products</h3>
          <% @most_recent_products.each do |most_recent| %>
            <li> <%= most_recent.name %> NEW!!!</li>
          <% end%>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="most-reviewed">
        <h3>Most reviewed products</h3>
          <% @most_reviews.each do |most_review| %>
            <li> <%= most_review.name %> HOT!!!</li>
          <% end%>
      </div>
    </div>

  </div>

</div>