<h1>Mario's Food Products</h1>
<h3>Current products</h3>

<h3>Made in USA</h3>
<% if @made_in_usa.any? %>
  <ul>
    <% @made_in_usa.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
      <% end %>
  </ul>
<% else %>
   <p>There are no made in USA products yet.</p>
<% end %>
  
<h3>Others</h3>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %> made in <%= product.country_of_origin %> 
          <% if @most_recent_products.include?(product) %> 
           <span class="text-primary">  New!!! </span>
          <% end %>  
          <% if @most_reviews.include?(product) %> 
            <span class="text-danger">  Hot!!! </span>
          <% end %>  
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<p><%= link_to "Create new product", new_product_path %></p>