<h1>Mario's Food Products</h1>
<h3>Current products</h3>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %> 
        <% if @most_recent_products.include?(product) %> New!!!
        <% end %>  
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<p><%= link_to "Create new product", new_product_path %></p>